__pycache__/
*.pyc
.DS_Store

# env
*venv/
.venv/
venv*/

# output
*.jsonl

# tests
test/
debug/
.ipynb_checkpoints/

# heavy artifacts
heavy_artifacts/
data/

# marimo notebook extra files
__marimo__/

# RusBEIR evaluation files
rusbeir_eval/
