datasets==4.0.0
dateparser==1.2.2
deep-translator==1.11.4
huggingface-hub==0.34.4
numpy==2.3.2
openai==1.99.9
pymorphy3==2.0.4
regex==2025.7.34
requests==2.32.4
scikit-learn==1.7.1
spacy==3.8.7
torch==2.5.0
transformers==4.53.0
underthesea==6.8.4
